# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
  branches:
    include:
    - master
    - develop
  paths:
    exclude:
    - README.md
    - CHANGELOG.md
    - CONTRIBUTING.md

pool:
  vmImage: 'windows-2022'

variables:
  buildConfiguration: 'Release'
  major: 6
  minor: 0
  # creates a counter called versioncounter and seeds it at 100 and then assigns the value to a variable named buildNo.
  buildNo: $[counter('versioncounter', 100)]
  

name: $(BuildDefinitionName)_$(SourceBranchName)_$(major).$(minor).$(buildNo)

steps:

- checkout: self
  persistCredentials: true

# Windows script setting up  $(packageversion) of the nuget package based on branch
# Master branch
- script: |
    echo ##vso[task.setvariable variable=packageversion]$(major).$(minor).$(buildNo)
  displayName: 'Setting Master Nuget PackageVersion'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
- script: | 
    echo ##vso[task.setvariable variable=packageversion]$(major).$(minor).$(buildNo)-$(Build.SourceBranchName)
  displayName: 'Setting Prerelease Nuget PackageVersion'
  condition: ne(variables['Build.SourceBranch'], 'refs/heads/master')


# Windows script setting up $(fileversion) used to stamp AssemblyFileVersions. 
# By convention we use 'Major.Minor.BuildNo.0' on Master and 'Major.Minor.0.BuildNo' on other branches
# Master branch
- script: | 
    echo ##vso[task.setvariable variable=fileversion]$(major).$(minor).$(buildNo).0
  displayName: 'Setting FileVersion'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
# Any other branch
- script: | 
    echo ##vso[task.setvariable variable=fileversion]$(major).$(minor).0.$(buildNo)
  displayName: 'Setting Prerelease FileVersion'
  condition: ne(variables['Build.SourceBranch'], 'refs/heads/master')

- task: NuGetToolInstaller@1
  displayName: 'Install Nuget'

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    packageType: sdk
    version: 8.x

# Version .NET Core project files
# Description - Applies a version to a .NET Core assembly via the .csproj files based on the build number. 
# Based on https://github.com/rfennell/AzurePipelines/wiki/Version-Assemblies-and-Packages-Tasks-YAML#versiondotnetcoreassembliestask
- task: VersionDotNetCoreAssemblies@3
  displayName: 'Versioning netcore projects $(fileversion)'
  inputs: 
    # Required arguments
    Path: $(Build.SourcesDirectory)
    VersionNumber: $(fileversion)
    VersionRegex: \d+\.\d+\.\d+\.\d+
    FilenamePattern: .csproj
    Field: FileVersion
    OutputVersion: OutputedVersion

# Unit tests
- task: DotNetCoreCLI@2
  displayName: 'dotnet test $(buildConfiguration)'
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'

# Build and pack all
- script: dotnet pack -c Release -o $(Build.BinariesDirectory) /p:PackageVersion=$(packageversion)
  displayName: 'Building and packaging all Xbim Essentials packages'
  
# Essentials meta package
- powershell: |
    ((Get-Content -path Xbim.Essentials.tmpl -Raw) -replace '{{version}}','$(packageversion)') | Set-Content -Path Xbim.Essentials.nuspec
  displayName: 'Xbim.Essentials - Setting packageversion $(packageversion)'

- script: nuget pack Xbim.Essentials.nuspec -OutputDirectory $(Build.BinariesDirectory)
  displayName: 'Xbim.Essentials - packing'
  
# Copy artifacts and Publish
- task: CopyFiles@2
  displayName: 'Copy to artifacts'
  inputs:
    sourceFolder: '$(Build.BinariesDirectory)'
    contents: '**\*.nupkg' 
    targetFolder: '$(build.artifactstagingdirectory)'
    cleanTargetFolder: true
    
# Publish to master or develop MyGet feed based on the source branch
- task: NuGetCommand@2
  displayName: 'Publish to MyGet Master'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: 'MyGetMaster'
    versioningScheme: byEnvVar
    versionEnvVar: packageversion

- task: NuGetCommand@2
  displayName: 'Publish to MyGet Develop'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/develop')
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: 'MyGetDev'
    versioningScheme: byEnvVar
    versionEnvVar: packageversion

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifacts'

  
# Generate docs and push them to the documentation repo
- script: |
      dotnet tool install -g docfx
  displayName: 'Install DocFX'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')

 # Step 2: Build the Documentation using DocFX
- script: |
      docfx docs/docfx.json
  displayName: 'Build Documentation'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')

# - powershell: |
#     choco install docfx -y
#     docfx --version
#     docfx docs/docfx.json
#     if ($lastexitcode -ne 0){
#       throw ("Error generating DocFx documentation")
#     }
#   displayName: 'Generate Documentation'
#   condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
   

- task: CopyFiles@2
  displayName: 'Copy generated docs to artifacts directory'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)\\docs\\_build'
    Contents: |
      **
    TargetFolder: '$(Build.ArtifactStagingDirectory)\\docs'
    flattenFolders: false
    OverWrite: true
 

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifacts: docs'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
     pathtoPublish: '$(Build.ArtifactStagingDirectory)/docs' 
     artifactName: docs
