<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="BimpGet" value="http://bimpnugetgallery.azurewebsites.net/nuget" />
    <add key="MyGetMaster" value="https://www.myget.org/F/xbim-master/api/v3/index.json" />
    <add key="MyGetDev" value="https://www.myget.org/F/xbim-develop/api/v3/index.json" />
  </packageSources>
</configuration>