<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="xbim_develop" value="https://www.myget.org/F/xbim-develop/api/v3/index.json" protocolVersion="3"/>
    <add key="xbim_master" value="https://www.myget.org/F/xbim-master/api/v3/index.json" protocolVersion="3"/>
	
	<add key="local_common" value="Xbim.Common/bin/Release"/>
	<add key="local_ifc4" value="Xbim.Ifc4/bin/Release"/>
	<add key="local_Ifc2x3" value="Xbim.Ifc2x3/bin/Release"/>
	<add key="local_memory" value="Xbim.Memory/bin/Release"/>
	<add key="local_esent" value="Xbim.Esent/bin/Release"/>
	<add key="local_tessellator" value="Xbim.Tessellator/bin/Release"/>
	<add key="local_ifc" value="Xbim.Ifc/bin/Release"/>
  </packageSources>
</configuration>